<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Family Financial</title>
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/css/uikit.min.css" />
	<!-- Custom CSS -->
	<link rel="stylesheet" href="./assets/css/style.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit-icons.min.js"></script>
</head>
<body>
	<nav class="uk-navbar-container" uk-navbar style="background-color: #191919;" >

		<div class="uk-navbar-left">
			
			<h1 class="uk-margin-left"><i class="fas fa-coins"></i> Family Financial</h1>

		</div>

		<!-- Only display this section when user is logged in -->

		<div class="uk-navbar-right">

				<ul class="uk-navbar-nav">
						{{#if loggedIn}}
						<li>
							<a href="#"><i class="fas fa-users uk-text-large"></i></a>
							<div class="uk-navbar-dropdown">
									<ul class="uk-nav uk-navbar-dropdown-nav">
											<li><a href="#new-member-modal" uk-toggle>Add Member</a></li>
											<li><a href="#edit-member-modal" uk-toggle>Edit Members</a></li>
									</ul>
							</div>
						</li>
						<li><a href="#" onclick="logout()"><i class="fas fa-sign-out-alt uk-text-large"></i></a></li>
						{{/if}}
				</ul>

		</div>
		<!-- End conditional -->
</nav>

{{{body}}}

{{#if loggedIn}}
<script src="./assets/js/logout.js"></script>
{{/if}}
</body>
</html>